---
title: Home
layout: layouts/base.njk
---

<section class="about-panel">
  <h2>About Me</h2>
  <p>Hello! My name is Louis Appleyard, a Durham University student studying Computer Science with a passion for ethics based design, environmentalism and leftist politics.</p>
</section>

<section class="posts-panel">
<h2>Latest Posts</h2>

<ul class="post-list">
  {% for post in collections.blog | reverse %}
    <li class="post-item">
      <a class="post-link" href="{{ post.url }}">{{ post.data.title }}</a><br>
      <small class="post-date">{{ post.date | readableDate }}</small>
    </li>
  {% endfor %}
</ul>
</section>